---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { slugify } from "@/utils";
import List from "@/components/List.astro";
import Filter from "@/components/Filter.astro";
import Title from "@/components/Title.astro";

export async function getStaticPaths() {
    const events = await getCollection("event");
    const provinces = new Set<string>();
    events.forEach((event: CollectionEntry<"event">) => {
        if (event.data.province) {
            provinces.add(event.data.province);
        }
    });
    return Array.from(provinces).map((province) => ({
        params: { province: slugify(province) },
        props: { province },
    }));
}

const { province } = Astro.props;

const events = await getCollection(
    "event",
    ({ data }) =>
        data.province && Astro.params.province.match(slugify(data.province)),
);

const future = events
    .filter((event) => event.data.start > new Date())
    .sort((a, b) => a.data.start.getTime() - b.data.start.getTime());
const past = events
    .filter((event) => event.data.start <= new Date())
    .sort((a, b) => b.data.start.getTime() - a.data.start.getTime());
---

<Layout>
    <Header />
    <main class="flex-1">
        <Title title={`Eventos en ${province}`}>
            <Filter />
        </Title>
        <section class="w-full max-w-6xl mx-auto px-4 py-6">
            <h2 class="text-3xl mb-4">
                Próximos eventos en {province}
            </h2>
            {
                future.length === 0 && (
                    <p class="text-gray-500">
                        No hay eventos próximos en {province}.
                    </p>
                )
            }
            <List events={future} />
            <h2 class="text-3xl mb-4 mt-12">
                Eventos pasados en {province}
            </h2>
            {
                past.length === 0 && (
                    <p class="text-gray-500">
                        No hay eventos pasados en {province}.
                    </p>
                )
            }
            <List events={past} />
        </section>
    </main>
    <Footer />
</Layout>
