---
import { getCollection } from "astro:content";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.start.valueOf() - a.data.start.valueOf(),
);
---

<Layout>
    <Header />
    <main class="container mx-auto px-4">
        <section>
            <ul>
                {
                    posts.map((post) => (
                        <li>
                            <a href={`/blog/${post.id}/`}>
                                {/* {post.data.image && (
                                        <Image
                                            width={720}
                                            height={360}
                                            src={post.data.image}
                                            alt=""
                                        />
                                    )} */}
                                <h4 class="title">{post.data.title}</h4>
                                <p class="date">
                                    {post.data.daysOfWeek ? (
                                        <>
                                            {post.data.daysOfWeek.includes(0) &&
                                                "Dom "}
                                            {post.data.daysOfWeek.includes(1) &&
                                                "Lun "}
                                            {post.data.daysOfWeek.includes(2) &&
                                                "Mar "}
                                            {post.data.daysOfWeek.includes(3) &&
                                                "Mié "}
                                            {post.data.daysOfWeek.includes(4) &&
                                                "Jue "}
                                            {post.data.daysOfWeek.includes(5) &&
                                                "Vie "}
                                            {post.data.daysOfWeek.includes(6) &&
                                                "Sáb "}
                                            {post.data.startTime &&
                                                ` - ${post.data.startTime}`}
                                            {post.data.endTime &&
                                                ` a ${post.data.endTime}`}
                                            {post.data.startRecur && (
                                                <>
                                                    <br />
                                                    <small>
                                                        Desde{" "}
                                                        <FormattedDate
                                                            date={
                                                                post.data
                                                                    .startRecur
                                                            }
                                                        />
                                                        {post.data.endRecur && (
                                                            <>
                                                                {" hasta "}
                                                                <FormattedDate
                                                                    date={
                                                                        post
                                                                            .data
                                                                            .endRecur
                                                                    }
                                                                />
                                                            </>
                                                        )}
                                                    </small>
                                                </>
                                            )}
                                        </>
                                    ) : (
                                        <>
                                            <FormattedDate
                                                date={post.data.start}
                                            />
                                            {post.data.end && (
                                                <>
                                                    al{" "}
                                                    <FormattedDate
                                                        date={post.data.end}
                                                    />
                                                </>
                                            )}
                                        </>
                                    )}
                                </p>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
    <Footer />
</Layout>
