---
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const events = (await getCollection("event")).sort(
    (a, b) => b.data.start.valueOf() - a.data.start.valueOf(),
);
---

<Layout>
    <Header />
    <main class="container mx-auto px-4">
        <section>
            <ul>
                {
                    events.map((event) => (
                        <li>
                            <a href={`/evento/${event.id}/`}>
                                {/* {event.data.image && (
                                        <Image
                                            width={720}
                                            height={360}
                                            src={event.data.image}
                                            alt=""
                                        />
                                    )} */}
                                <h4 class="title">{event.data.title}</h4>
                                <p class="date">
                                    {event.data.daysOfWeek ? (
                                        <>
                                            {event.data.daysOfWeek.includes(
                                                0,
                                            ) && "Dom "}
                                            {event.data.daysOfWeek.includes(
                                                1,
                                            ) && "Lun "}
                                            {event.data.daysOfWeek.includes(
                                                2,
                                            ) && "Mar "}
                                            {event.data.daysOfWeek.includes(
                                                3,
                                            ) && "Mié "}
                                            {event.data.daysOfWeek.includes(
                                                4,
                                            ) && "Jue "}
                                            {event.data.daysOfWeek.includes(
                                                5,
                                            ) && "Vie "}
                                            {event.data.daysOfWeek.includes(
                                                6,
                                            ) && "Sáb "}
                                            {event.data.startTime &&
                                                ` - ${event.data.startTime}`}
                                            {event.data.endTime &&
                                                ` a ${event.data.endTime}`}
                                            {event.data.startRecur && (
                                                <>
                                                    <br />
                                                    <small>
                                                        Desde{" "}
                                                        <FormattedDate
                                                            date={
                                                                event.data
                                                                    .startRecur
                                                            }
                                                        />
                                                        {event.data
                                                            .endRecur && (
                                                            <>
                                                                {" hasta "}
                                                                <FormattedDate
                                                                    date={
                                                                        event
                                                                            .data
                                                                            .endRecur
                                                                    }
                                                                />
                                                            </>
                                                        )}
                                                    </small>
                                                </>
                                            )}
                                        </>
                                    ) : (
                                        <>
                                            <FormattedDate
                                                date={event.data.start}
                                            />
                                            {event.data.end && (
                                                <>
                                                    al{" "}
                                                    <FormattedDate
                                                        date={event.data.end}
                                                    />
                                                </>
                                            )}
                                        </>
                                    )}
                                </p>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
    <Footer />
</Layout>
