---
import Dates from "./Dates.astro";
import Tags from "./Tags.astro";

const { id, data } = Astro.props;
---

<article
    class="relative max-w-[98vw] p-4 border-l-20 bg-center bg-cover bg-no-repeat"
    style={`border-color: ${data.color}`}
>
    {
        data.image && (
            <div class="max-sm:hidden sm:absolute top-1/2 right-8 -translate-y-1/2 z-30 w-24 perspective-dramatic">
                <img
                    src={data.image.toString()}
                    alt={data.title}
                    class="-rotate-y-6"
                />
            </div>
        )
    }
    <a href={`/evento/${id}/`}>
        <p class="font-medium" transition:name={`date-${id}`}>
            <Dates {...data} />
        </p>
        <h3
            class="sm:pr-32 text-2xl md:text-3xl font-medium text-balance"
            style={`color: ${data.color}`}
            transition:name={`title-${id}`}
        >
            {data.title}
        </h3>
        <p class="sm:pr-32 text-sm mt-2 line-clamp-4">
            {data.description}
        </p>
        {
            data.location && (
                <p
                    class="flex items-center gap-1 mt-2"
                    transition:name={`location-${id}`}
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                        <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                    </svg>
                    <span class="truncate">{data.location}</span>
                </p>
            )
        }
        <Tags id={id} data={data} class="mt-4" />
    </a>
</article>
