---
import FormattedDate from "../components/FormattedDate.astro";

const { events } = Astro.props;

const months = new Set<string>();
events.forEach((event: any) => {
    const start = event.data.start;
    const month = start.toLocaleString("es-ES", {
        month: "long",
        year: "numeric",
    });
    months.add(month);
});
---

<section>
    <ul>
        {
            Array.from(months).map((month) => (
                <li>
                    <h2 class="text-3xl mb-4">{month}</h2>
                    <ul class="space-y-0.5 mb-4">
                        {events
                            .filter(
                                (event: any) =>
                                    event.data.start
                                        .toLocaleString("es-ES", {
                                            month: "long",
                                            year: "numeric",
                                        })
                                        .toLowerCase() === month,
                            )
                            .map((event: any) => (
                                <li
                                    class="relative p-4 bg-primary bg-center bg-cover bg-no-repeat clip-path-polygon"
                                    style={`background-color: ${event.data.color}; background-image: url(${event.data.image})`}
                                >
                                    <div
                                        class={`absolute inset-0 ${event.data.image && "bg-black! opacity-50"}`}
                                        style={`background-color: ${event.data.color};`}
                                    />
                                    <a href={`/evento/${event.id}/`}>
                                        <p
                                            class="text-white drop-shadow-[0_1px_3px_rgba(0,0,0,.1)]"
                                            transition:name={`date-${event.id}`}
                                        >
                                            <FormattedDate
                                                date={event.data.start}
                                            />
                                            {event.data.end && (
                                                <>
                                                    al{" "}
                                                    <FormattedDate
                                                        date={event.data.end}
                                                    />
                                                </>
                                            )}
                                        </p>
                                        <h4
                                            class="text-2xl md:text-3xl text-balance text-white drop-shadow-[0_1px_3px_rgba(0,0,0,.1)]"
                                            transition:name={`title-${event.id}`}
                                        >
                                            {event.data.title}
                                        </h4>
                                        {event.data.location && (
                                            <p
                                                class="flex items-center gap-1 mt-2 text-white drop-shadow-[0_1px_3px_rgba(0,0,0,.1)]"
                                                transition:name={`location-${event.id}`}
                                            >
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"
                                                >
                                                    <path
                                                        stroke="none"
                                                        d="M0 0h24v24H0z"
                                                        fill="none"
                                                    />
                                                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                                                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                                                </svg>
                                                {event.data.location}
                                            </p>
                                        )}
                                    </a>
                                </li>
                            ))}
                    </ul>
                </li>
            ))
        }
    </ul>
</section>

<style>
    .clip-path-polygon {
        clip-path: polygon(0 0, 100% 0, 99.5% 100%, 0.5% 100%);
    }
</style>
