---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, start, end, updatedDate, heroImage } = Astro.props;
---

<Layout>
    <Header />
    <main class="container mx-auto px-4">
        <article>
            <div class="hero-image">
                {
                    heroImage && (
                        <Image
                            width={1020}
                            height={510}
                            src={heroImage}
                            alt=""
                        />
                    )
                }
            </div>
            <div class="space-y-4">
                <div class="opacity-70">
                    <FormattedDate date={start} />
                    {
                        end && (
                            <>
                                al <FormattedDate date={end} />
                            </>
                        )
                    }
                    {
                        updatedDate && (
                            <div class="last-updated-on">
                                Last updated on{" "}
                                <FormattedDate date={updatedDate} />
                            </div>
                        )
                    }
                </div>
                <h1 class="text-2xl font-semibold">{title}</h1>
                <slot />
            </div>
        </article>
    </main>
    <Footer />
</Layout>
