---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, start, end, updatedDate, image, location } = Astro.props;

const API_KEY = "AIzaSyCX_6U-Sgiyb44SMjxxHabG6uvINdb-qvc";
---

<Layout>
    <Header />
    <main class="container mx-auto px-4">
        <article>
            <div class="hero-image">
                {
                    image && (
                        <Image width={1020} height={510} src={image} alt="" />
                    )
                }
            </div>
            <div class="space-y-4">
                <div class="opacity-70">
                    <FormattedDate date={start} />
                    {
                        end && (
                            <>
                                al <FormattedDate date={end} />
                            </>
                        )
                    }
                    {
                        updatedDate && (
                            <div class="last-updated-on">
                                Last updated on{" "}
                                <FormattedDate date={updatedDate} />
                            </div>
                        )
                    }
                </div>
                <h1 class="text-2xl font-semibold">{title}</h1>
                <slot />
                {
                    location && (
                        <iframe
                            width="100%"
                            height="300"
                            loading="lazy"
                            allowfullscreen
                            referrerpolicy="no-referrer-when-downgrade"
                            src={`https://www.google.com/maps/embed/v1/place?key=${API_KEY}&q=${encodeURIComponent(location)}`}
                        />
                    )
                }
            </div>
        </article>
    </main>
    <Footer />
</Layout>
